<br><br><div class="container">
    <div class="row">
        <main class="col-sm-12 col-md-10 col-lg-8">
			<article id="{{ page.post_type }}_{{ page.post_name }}">
				<h2><a href="{{ page.permalink }}" ng-click="href('{{ page.permalink }}')">{{ page.post_title }}</a></h2>
				<p><small>Posted by {{ page.post_author }} on {{ page.post_date }}. Last modified on {{ page.post_modified_date }}.</small></p>
				
				<div class="post-content">
				    {{ page.post_content|raw }}
				</div>
			</article>
        </main>
    </div>
    <hr>
    <div class="row">
        {% for post in posts %}
			<article id={{ post.post_type }}_{{ post.post_name }} class="col-sm-6 col-md-4 col-lg-3">
				<h2><a href="{{ post.permalink }}" ng-click="href('{{ post.permalink }}')">{{ post.post_title }}</a></h2>
				
				<div class="post-content">{{ post.post_content|raw }}</div>
				<p><small>Posted by {{ post.post_author }} on {{ post.post_date }}. Last modified on {{ post.post_modified_date }}.</small></p>
				<a href="{{ post.permalink }}" class="btn btn-primary">Read more</a>
			</article>
			
			{% if loop.index % 2 == 0 %}
    			<div class="clearfix visible-sm-block"></div>
			{% endif %}
			{% if loop.index % 3 == 0 %}
    			<div class="clearfix visible-md-block"></div>
			{% endif %}
			{% if loop.index % 4 == 0 %}
    			<div class="clearfix visible-lg-block"></div>
			{% endif %}
    	{% endfor %}
		<div class="clearfix"></div>
	</div>
</div>
<br><br>