<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  {% for block in page.content_blocks.banner.blocks %}
    <div class="item slides {% if loop.first %}active{% endif %}" id="{{ block.anchor }}">
      <div class="slide-{{ loop.index }}" style="background-image:url({{ block.featured_image }});"></div>
      <div class="hero">
        <hgroup>
            <span class="lead">{{ block.post_title }}</span>        
            <h2>Get start your next awesome project</h2>
            <span class="content">{{ block.post_content|striptags }}</span>
        </hgroup>
        {% if block.button %}
            <button class="btn btn-default btn-lg" role="button">See all features</button>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div> 
</div>

<div class="container">
    <div class="row">
        <main class="col-sm-12 col-lg-8 col-lg-push-2 text-center">
			<article id="{{ page.post_type }}_{{ page.post_name }}">
				<h2><a href="{{ page.permalink }}" ng-click="href('{{ page.permalink }}')">{{ page.post_title }}</a></h2>
				<p><small>Posted by {{ page.post_author }} on {{ page.post_date }}. Last modified on {{ page.post_modified_date }}.</small></p>
				
				<div class="post-content">
				    {{ page.post_content|raw }}
				</div>
			</article>
        </main>
        <aside class="col-sm-12 col-lg-4">
        {% for post in posts %}
			<article id={{ post.post_type }}_{{ post.post_name }} class="col-sm-6 col-md-3 col-lg-12">
				<h2><a href="{{ post.permalink }}" ng-click="href('{{ post.permalink }}')">{{ post.post_title }}</a></h2>
				<p><small>Posted by {{ post.post_author }} on {{ post.post_date }}. Last modified on {{ post.post_modified_date }}.</small></p>
				
				<div class="post-content">{{ post.post_content|raw }}</div>
			</article>
		{% endfor %}
        </aside>
    </div>
    <hr>
    <div class="row" id="services">
        {% for block in page.content_blocks.maincontent.blocks %}
            <div id="{{ block.anchor }}" class="col-md-4 text-center">
                {% if loop.index == 1 %}
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                {% endif %}
                {% if loop.index == 2 %}
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                {% endif %}
                {% if loop.index == 3 %}
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                {% endif %}
                <h3 class="section-heading">{{ block.post_title }}</h3>
                {{ block.post_content|raw }}
            </div>
        {% endfor %}
    </div>
        <hr>

    {% for block in page.content_blocks.secondarycontent.blocks %}
        <div class="row" id="{{ block.anchor }}">
            <div class="col-md-4 text-center col-md-offset-4">
                <img src="{{ block.featured_image }}" class="img-thumbnail img-circle">
            </div>
            <div class="col-md-4 text-center {% if loop.index % 2 %}col-md-pull-8{% endif %}">
                <h3>{{ block.post_title }}</h3>
                {{ block.post_content|raw }}
            </div>
        </div><br><br>
    {% endfor %}
</div>
<br><br>