{% if page.content_blocks.banner.blocks.length %}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for nav in page.content_blocks.banner.nav %}
        <li data-target="#bs-carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  {% for block in page.content_blocks.banner.blocks %}
    <div class="item slides {% if loop.first %}active{% endif %}" id="{{ block.anchor }}">
      <div class="slide-{{ loop.index }}" style="background-image:url({{ block.featured_image }});"></div>
      <div class="hero">
        <hgroup>
            <h1>{{ block.post_title }}</h1>        
            <h3>Get start your next awesome project</h3>
            {{ block.post_content|striptags }}
        </hgroup>
        {% if block.button %}
            <button class="btn btn-default btn-lg" role="button">See all features</button>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div> 
</div>
{% endif %}
<div class="container">
    <div class="row">
        <main class="col-sm-12 col-lg-8">
			<article id="{{ page.post_type }}_{{ page.post_name }}"><br><br>
				<h2><a href="{{ page.permalink }}" ng-click="href('{{ page.permalink }}')">{{ page.post_title }}</a></h2>
				<p><small>Posted by {{ page.post_author }} on {{ page.post_date }}. Last modified on {{ page.post_modified_date }}.</small></p>
				
				<div class="post-content">
				    {{ page.post_content|raw }}
				</div>
			</article>
        </main>
        <aside class="col-sm-12 col-lg-4">
        {% for post in posts %}
			<article id={{ post.post_type }}_{{ post.post_name }} class="col-sm-6 col-md-3 col-lg-12">
				<h2><a href="{{ post.permalink }}" ng-click="href('{{ post.permalink }}')">{{ post.post_title }}</a></h2>
				<p><small>Posted by {{ post.post_author }} on {{ post.post_date }}. Last modified on {{ post.post_modified_date }}.</small></p>
				
				<div class="post-content">{{ post.post_content|raw }}</div>
			</article>
		{% endfor %}
        </aside>
    </div>
    {% for block in page.content_blocks.maincontent.blocks %}
        <div class="row" id="{{ block.anchor }}">
            <div class="col-md-8 col-md-push-2 text-center col-push">
                <h3>{{ block.post_title }}</h3>
                {{ block.post_content|raw }}
            </div>
        </div>
    {% endfor %}
    
    <div class="row" id="{{ block.anchor }}">
        {% for block in page.content_blocks.secondarycontent.blocks %}
            <div class="col-md-4 text-center">
                <h3>{{ block.post_title }}</h3>
                {{ block.post_content|raw }}
            </div>
        {% endfor %}
    </div>
</div>
